@font-face {
  font-family: customHeader;
  src: url(fonts/Walkway.ttf);
}

@font-face {
  font-family: customText;
  src: url(fonts/MavenPro-Regular.ttf);
}

/*main tag styles*/
body {
  background-color: #dfdfe3;
  font-family: customText, arial, sans-serif;
}

/*class styles*/
.wrapper {
  height: auto;
  width: 100%;
  max-width: 1000px;
  min-width: 610px;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  margin-top: -20px;
  background-color: auto;
}

.block {
  width: 100%;
  box-sizing: border-box;
  margin-top: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #aaaaaa;
  font-size: 14pt;
}

.block h1 {
  border-width: 1px;
  border-bottom-style: solid;
  border-color: #cccccc;
  font-family: customHeader, arial, sans-serif;
  font-size: 30pt;
}

.block h2 {
  font-size: 18pt;
}

.block a {
  text-decoration: none;
  color: #0000cc;
}

.block a:hover {
  text-decoration: underline;
}

.block a:visited {
    color: #0000aa;
}

.navbar {
  height: 56px;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  position: fixed;
  box-sizing: border-box;
  margin-top: 8px;
  background-color: #203070;
}

.navbar a {
  height: inherit;
  width: 25%;
  min-width: 120px;
  display: block;
  float: left;
  box-sizing: inherit;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.navbar a:hover {
  background-color: #405090;
}

/*ID styles*/
#banner {
  background-color: #aaaaaa;
  padding: 0px;
  padding-top: 64px;
}

#banner img {
  width: 100%;
}
