
  /*html tag styles*/

body {
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 18px;
  background-color: #999999;
  background-image: url(files/back.jpg);
  background-repeat: repeat-x;
}

img {border-style: none}

.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #0033FF;
}

a:visited {color: #000099}

a:hover {text-decoration: underline}

ul {list-style-position: inside}

h1 {
  margin-top: -10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  font-size: 50px;
}

h2 {
  margin-top: 0px;
  font-size: 30px;
}

h3 {
  margin-top: -20px;
  font-size: 20px;
}


  /*layout classes*/

.wrapper {
  width: 1000px;
  height: auto;
  display: block;
  overflow: hidden;
  margin: auto;
  margin-top: -8px;
  margin-bottom: -8px;
  text-align: left;
}

.section {
  width: 960px;
  height: auto;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 20px;
  text-align: left;
  background-color: #FFFFFF;
}


  /*section ids*/

#banner {
  width: 1000px;
  height: 508px;
  margin-top: 60px;
  padding: 0px;
  background-color: #003366;
  background-image: url(files/banner.jpg);
}

#navbar {
  width: 1000px;
  height: 60px;
  position: fixed;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #002255;
}

#navbar p {
  display: block;
  float: left;
  margin: 0px;
  padding: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  text-decoration: none;
  font-family: verdana;
  font-size: 24px;
  font-variant: small-caps;
  color: #EEEEEE;
}

#navbar a {
  display: block;
  float: right;
  margin: 0px;
  padding: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #FFFFFF;
}

#navbar a:hover {background-color: #003388}

#navbar a#current {color: #FFFFFF}

#nav2 {
  margin-bottom: 10px;
  font-size: 16px;
}

#body {}

#footer {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #CCCCCC;
  font-size: 12px;
}